.floppy-bird-canvas {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    /* width: 100%; */
    /* height: 80dvh; */

    border-radius: 30px;
    border: 10px solid var(--lavender-pastel-3);

    outline: transparent;
}

.floppy-bird-content-body > img {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    content: "";

    border-radius: 30px;
    border: 10px solid var(--lavender-pastel-3);
    overflow: hidden;

    opacity: 0.8;

    user-select: none;
}

.floppy-bird-content-body {
    position: relative;

    height: 80dvh;
}
